body {
    background: #000;
    font-family: monospace;
}

#container {
    display: flex;
    flex-flow: row;
    /*     justify-content: space-around; */
    align-items: start
}

.box {
    flex-basis: auto;
    width: auto;
}

#nav {
    position: relative;
    width: 270px;
    min-height: 75vh;
    height: 75vh;
    background: #333;
    border-radius: 10px;
    color: #aaa;
    padding: 15px;
    font-size: 1.4em;
}

#nav h1 {
    padding: 0;
    margin: 0;
    font-size: 1.4em;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

#nav a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
}

#content {
    position: relative;
    margin: 30px 20px 0 20px;
    width: calc(100vw - 400px);
    height: auto;
    min-height: 65vh;
    background: #0000aa;
    border: 50px solid #0088ff;
    padding: 1em;
    font-size: 1.8em;
    font-weight: bold;
    color: #0088ff;
    
}

footer {
    position: absolute;
    font-size: 0.6em;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
    color: #444;
}

#nav footer {
    position: absolute;
    font-size: 0.8em;
    margin-top: auto;
    bottom: 0.5em;
    text-align: left;
    width: 90%;
    color: #aaa;
}
